<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shengjiangbo.databindingadapter">

    <!-- 相机权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 写入扩展存储权限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.App.Starting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".DemoActivity"
            android:exported="false" />
        <activity
            android:name=".TextKTXActivity"
            android:exported="false" />
        <activity
            android:name=".paging.PagingActivity"
            android:exported="false" />
        <activity
            android:name=".PagerSnapHelperActivity"
            android:exported="false" />
        <activity
            android:name=".BounceActivity"
            android:exported="false" />
        <activity
            android:name=".FlowLayoutActivity"
            android:exported="false" />
        <activity
            android:name=".FishActivity"
            android:exported="false" />
        <activity
            android:name=".BezierActivity"
            android:exported="false" />
        <activity
            android:name=".MotionLayoutActivity"
            android:exported="false" />        <activity
            android:name=".EasyPermissionsActivity"
            android:exported="false" />
    </application>

</manifest>